// Override default variables before the import
$primary: #000000;
$secondary: #ffffff;
$gray-400: rgba(42,42,42,1);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

